<MudButton Variant="Variant.Text" OnClick="@(() => OpenDrawer(Anchor.Start))">
    <MudIcon Icon="@Icons.Material.Filled.Menu" />
</MudButton>


<MudDrawer @bind-Open="@_open" Anchor="@_anchor" Elevation="1" Variant="@DrawerVariant.Temporary" OverlayAutoClose="@_overlayAutoClose">
    <MudDrawerHeader>
        <MudText Typo="Typo.h6">Edus Farmacias</MudText>
    </MudDrawerHeader>

    <MudNavMenu>
        
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Inicio
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/medicinas" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Medicinas
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/usuarios" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Usuarios
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/login" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Cerrar Sesion
            </NavLink>
        </div>
        
        <MudNavLink OnClick="_ => _open = false" Icon="@Icons.Material.Filled.Close">
            Close Drawer
        </MudNavLink>

    </MudNavMenu>

</MudDrawer>

@code {
    private bool _open;
    private Anchor _anchor;
    private bool _overlayAutoClose = true;

    private void OpenDrawer(Anchor anchor)
    {
        _open = true;
        _anchor = anchor;
    }
}