<MudButton Variant="Variant.Text" OnClick="@(() => OpenDrawer(Anchor.Start))">
    <MudIcon Icon="@Icons.Material.Filled.Menu" />
</MudButton>


<MudDrawer @bind-Open="@_open" Anchor="@_anchor" Elevation="1" Variant="@DrawerVariant.Temporary" OverlayAutoClose="@_overlayAutoClose">
    <MudDrawerHeader>
        <MudText Typo="Typo.h6">Edus Farmacias</MudText>
    </MudDrawerHeader>

    <MudNavMenu>
        <MudNavLink Href="" Match="NavLinkMatch.All" Icon="@Icons.Material.Filled.Home">
            Home
        </MudNavLink>
        <MudNavLink Href="counter" Icon="@Icons.Material.Filled.AddBox">
            Counter
        </MudNavLink>
       
        <MudNavLink Href="weather" Icon="@Icons.Material.Filled.List">
            Weather
        </MudNavLink>
        <MudNavLink Href="login" Icon="@Icons.Material.Filled.List">
            cerrar sesion
        </MudNavLink>
        
        <MudNavLink OnClick="_ => _open = false" Icon="@Icons.Material.Filled.Close">
            Close Drawer
        </MudNavLink>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="usuarios" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Usuarios
            </NavLink>
        </div>
    </MudNavMenu>

</MudDrawer>

@code {
    private bool _open;
    private Anchor _anchor;
    private bool _overlayAutoClose = true;

    private void OpenDrawer(Anchor anchor)
    {
        _open = true;
        _anchor = anchor;
    }
}